<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h1 class="heading-section">Login</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4" style="background-color: hsla(120, 90%, 0%, 0.7);border-radius: 15px;padding-top:40px;">
          <div class="login-wrap p-0">
            <div class="form-group">
              <%= f.hidden_field :reset_password_token %>
              <div class="field">
                <%= f.label :password, "New password" %><br />
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                <% end %>
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password", style: 'width:100%' %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation, "Confirm new password" %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", style: 'width:100%'   %>
              </div>

              <div class="actions">
                <%= f.submit "Confirm password", class: 'form-control btn btn-primary submit ', style: 'margin-top:15px;' %>
              </div>
<% end %>
</div>
</div>
</div>
</div>
</div>
</section>